/*=========== GLOBALES =============*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*============== MENU ==============*/
#menu li > a {
    font-size: 18px;
    font-weight:bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight:bold;
  
}

/*======= SLIDER DE IMAGENES =======*/
.carousel-inner {
    max-height: 39rem;
}

/*======= MEDIA QUERIES PANTALLA SM =======*/

@media (max-width:768px){
    #intro #equipo{
        width:90% !important;
    }

    #equipo p {
        display: none;
    }

    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
    
    #bg-contacto {
        top:-110px;
    }
}

/*======= MEDIA QUERIES PANTALLA ANCHA =======*/
@media(max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top:30px;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;

    }
}

/*======= MEDIA QUERIES PANTALLA EXTRA-SM =======*/

@media(max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

/*======= EQUIPO GUATEMALA =======*/

/*======= CONTACTOS BACKGROUND =======*/
#bg-contacto {
    position:relative;
    top:-130px;
}

#seccion-contacto {
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}
/*======= CONTACTOS FORMULARIO =======*/
#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background:#fbfafa ;
    border-radius: 5px;
    max-width: 246px;
}
#titulo-formulario {
    color: #3f3f3f;
}

#contenedor-formulario{
    font-family: verdana;
    margin: 10px auto;

}

/*======= MAPA =======*/

/* CLAVE 1: Anula Flexbox o Grid en el contenedor padre */
#local {
    /* Si Bootstrap lo hizo flexible, lo forzamos a ser un bloque normal */
    display: block !important; 
}

/* CLAVE 2: Asegura que el contenedor de texto ocupe todo el ancho y se comporte como bloque */
.texto-ubicacion {
    width: 100% !important; /* Fuerza el ancho */
    display: block !important; /* Fuerza el comportamiento de bloque */
    margin-bottom: 20px;
}

/* CLAVE 3: Asegura que el mapa se comporte como un bloque de ancho completo */
.mapa-incrustado {
    width: 100% !important; /* Fuerza el ancho */
    display: block !important; /* Fuerza a iniciar en una nueva línea */
    height: 450px; 
    border: none; 
}


#local {
    background-color: #f3f3f3;
    padding-bottom: 300px;
    display:flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top:150px ;
}

/*======= FOTTER =======*/
footer {
    background: #1b2a4e;
    min-height:100px;
}

footer p {
color: #f3f3f3;
text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3
}